<div class="bg-white rounded-2xl">
    <div class="bg-lightPink py-2 ">
        <div class="flex justify-between mx-5">
            <div>
                Confirm Delete
            </div>
            <div mat-dialog-close class="border-2 rounded-full border-Pink w-7 h-7 flex justify-center text-center ">
                <i class="fa-solid fa-xmark text-Pink text-xl"></i>
            </div>
        </div>

    </div>
    <div class="p-5">


        <div class="my-5 text-lg text-center">
            <div>
                Are you sure ?
            </div>
            Are you sure want to delete selected items ?
        </div>

        <mat-divider></mat-divider>
        <div class="flex gap-5 justify-center items-center my-5">
            <div class=" flex gap-5 ">


                <button type="button" mat-dialog-close
                    class="bg-Red text-White p-2 px-5 rounded-md border-0 outline-none">Cancle</button>
                <button type="button" mat-dialog-close
                    class="bg-Green text-White p-2 px-5 rounded-md border-0 outline-none">Yes</button>
            </div>
        </div>
    </div>
</div>