<div class="overflow-auto my-5 ">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center custom-table">
        <!-- FinancialYear Column -->
        <ng-container matColumnDef="FinancialYear">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
                Financial Year
            </th>
            <td mat-cell *matCellDef="let element">{{ element.FinancialYear }}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="Year">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
                Year
            </th>
            <td mat-cell *matCellDef="let element">{{ element.Year }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
                Actions
            </th>
            <td mat-cell *matCellDef="let element">
                <span class="flex gap-5 justify-center">
                    <span (click)="openDialog()"
                        class="border-2 p-1 flex w-fit cursor-pointer rounded-lg text-center border-Red text-Red">
                        <mat-icon>delete</mat-icon>
                    </span>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
