<section class="my-5">
    <!-- Hedding  -->
    <div class="flex md:flex flex-wrap items-center justify-between  gap-5">
        <div class="flex items-center mx-5 gap-5">
            <div class="shadow-2xl bg-white rounded-full p-1  ">
                <img src="{{FirstIcons}}" alt="" class="w-10 h-10 shadow-2xl bg-white rounded-full">
            </div>
            <div class="text-3xl font-bold ">{{HearderHeding}}</div>
        </div>
    </div>
    <!-- Hedding  -->



    <!-- Select Box  -->


    <div class="   my-5 p-5">

        <mat-accordion class="mx-4 select-dropdown-box">
            <mat-expansion-panel [(expanded)]="panelOpenState" class="w-full">
                <mat-expansion-panel-header class="shadow-md bg-white border-white">
                    <mat-panel-title class="font-medium text-xl ">
                        Payslip
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bg-Lighitblue w-full pt-4 px-8">

                    <div class="mx-auto grid xl:grid-cols-6 md:grid-cols-4 justify-between grid-cols-1 gap-5">

                        <div class="w-full">
                            <mat-label>User Id <span (click)="openDialog()"
                                    class="bg-Yello px-5 cursor-pointer text-white p-1 rounded-md">Range</span>
                            </mat-label>
                            <div class="flex items-center gap-2">
                                <mat-form-field class="w-full my-2" appearance="outline">
                                    <input matInput value="784859" />
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="w-full">
                            <mat-label>Month</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'February'">
                                    <mat-option value="February">February</mat-option>
                                    <mat-option value="February">February</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>Years</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'2024'">
                                    <mat-option value="2024">2024</mat-option>
                                    <mat-option value="2025">2025</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>Employee Status</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'active'">
                                    <mat-option value="active">active</mat-option>
                                    <mat-option value="active">active</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>Language</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'All Selected'">
                                    <mat-option value="All Selected">All Selected</mat-option>
                                    <mat-option value="All Selected">All Selected</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <div>
                                <mat-label class="invisible">Language</mat-label>
                                <mat-radio-group aria-label=" Select an option" class="flex md:flex-row flex-col gap-5">


                                    <mat-checkbox value="" checked="" color="primary">Logo</mat-checkbox>


                                </mat-radio-group>
                            </div>
                        </div>



                        <div class="w-full">
                            <mat-label>Company</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'HR. General Service'">
                                    <mat-option value="HR. General Service">HR. General Service</mat-option>
                                    <mat-option value="HR. General Service">HR. General Service</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>Department</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'20 Selected'">
                                    <mat-option value="20 Selected">20 Selected</mat-option>
                                    <mat-option value="20 Selected">20 Selected</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>Category</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'Security'">
                                    <mat-option value="Security">Security</mat-option>
                                    <mat-option value="Security">Security</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>Location</mat-label>
                            <mat-form-field class="w-full my-2" appearance="outline">
                                <mat-select [value]="'None Selected'">
                                    <mat-option value="None Selected">None Selected</mat-option>
                                    <mat-option value="None Selected">None Selected</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>




                        <div class="w-full">
                            <mat-label class="invisible">Location</mat-label>
                            <div class="w-full my-2">
                                <button type="submit"
                                    class="text-Blue hover:text-white hover:bg-Blue border-2 border-Blue focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-2.5 text-center whitespace-nowrap">
                                    Get Payslip
                                </button>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="flex justify-between my-5 ">

                        <button class="bg-Blue text-white p-2 rounded-md flex items-center gap-5">
                            <mat-icon class="mat-18">keyboard_double_arrow_left</mat-icon> <span>

                                Previous
                            </span>
                        </button>
                        <button class="bg-Blue text-white p-2 rounded-md flex items-center gap-5">
                            <span>

                                Next
                            </span> <mat-icon class="mat-18">keyboard_double_arrow_right</mat-icon>
                        </button>

                    </div>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <mat-accordion class="mx-4 select-dropdown-box">
        <mat-expansion-panel [(expanded)]="Payslips" class="w-full">
            <mat-expansion-panel-header class="shadow-md bg-white border-white">
                <mat-panel-title class="font-medium text-xl flex whitespace-nowrap gap-3">
                    <!-- <div class="flex items-center justify-center bg-white"> -->
                    <div class="font-bold text-lg">Payslips per page</div>
                    <div>
                        <select name="" id="" class="rounded-md px-5 h-10">
                            <option value="20">20</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="">
                        <mat-icon class="text-Yello  print  border-2 border-Green rounded-md ">print</mat-icon>
                    </div>

                    <div class="line">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path
                                        d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                                    <path
                                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                                </g>
                            </svg>
                        </span>
                    </div>
                    <!-- </div> -->
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="bg-Lighitblue w-full pt-4 px-8">





            </div>

        </mat-expansion-panel>
    </mat-accordion>



</section>