<div class="login-container">
  <div class="login-card">
    <div class="login-image"></div>
    <div class="login-form">
      <div class="flex justify-center items-center flex-col">


        <img src="assets/Navsaidbar/shinecoderpng.png" class="logiiamge w-60 bg-contain mb-5 " />

        <div class="login-main-login">Login</div>
        <div class="login-main-admin">(Admin or Employee Login)</div>
      </div>
      <form>
        <div class=" w-full">
          <mat-label>Your Email</mat-label>
          <div class="flex items-center gap-2">
            <mat-form-field class="w-full my-2" appearance="outline">
              <input matInput value="" />
            </mat-form-field>
          </div>
        </div>
        <div class=" w-full">
          <mat-label>Password</mat-label>
          <div class="flex items-center gap-2">
            <mat-form-field class="w-full my-2" appearance="outline">
              <input matInput value="" />
            </mat-form-field>
          </div>
        </div>



        <div class="login-main-remind  my-5" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="login-main-remind-text">
            <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
          </div>
          <div class="login-main-remind-forgot cursor-pointer" (click)="gotoForgot()">
            Forget password?
          </div>
        </div>
        <div class="login-main-remind-captcha px-5 py-10 my-5" fxLayoutAlign="center stretch" fxLayout="column">
          <mat-checkbox class="example-margin">I am not a robot</mat-checkbox>
          <div class="login-main-remind-captcha-privacy">
            <div class="cursor-pointer ">Privacy - Terms</div>
          </div>
        </div>
        <button mat-raised-button color="primary" class="full-width" (click)="gotoDashboard()">Login</button>


      </form>
    </div>
  </div>
</div>