<section class="my-5">
    <!-- Hedding  -->
    <div class="flex md:flex flex-wrap items-center justify-between  gap-5">
        <div class="flex items-center mx-5 gap-5">


            <div class="shadow-2xl bg-white rounded-full p-1  ">
                <img src="assets/Dashboard/image 78.png" alt="" class="w-10 h-10 shadow-2xl bg-white rounded-full">
            </div>

            <div class="text-3xl font-bold ">{{HearderHeding}}</div>
        </div>
        <div class="flex gap-5">


            <a routerLink="/employee-master/confirmation-letter">
                <button class=" text-Pink border-2 border-Pink  flex justify-center flex-row p-3 px-3 text-[20px] rounded-lg 
                 items-center gap-2">
                    ID Card
                </button>
            </a>
            <a routerLink="">
                <button class="bg-Pink text-white flex justify-center flex-row p-3 px-3 text-[20px] rounded-lg 
                 items-center gap-2">

                    Confirmation Letter
                </button>
            </a>


        </div>
    </div>


    <mat-accordion class="mx-4 select-dropdown-box">
        <mat-expansion-panel [(expanded)]="panelOpenState" class="w-full">
            <mat-expansion-panel-header class="shadow-md bg-white border-white w-full">

                <mat-panel-title class="font-medium text-xl">
                    <!-- <div class="flex items-center justify-center bg-white"> -->
                    <div class="rounded-lg text-lg px-1 py-3 whitespace-nowrap font-bold">Confirmation Letter


                    </div>
                    <div class="line">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path
                                        d="M15.499 9.134a1 1 0 0 1 0 1.732l-10 5.769A1 1 0 0 1 4 15.769V4.23a1 1 0 0 1 1.5-.866z" />
                                    <path
                                        d="M5.5 16.635a1 1 0 0 1-1.5-.866V4.23a1 1 0 0 1 1.5-.866l9.999 5.769a1 1 0 0 1 0 1.732zM10.997 10L7 7.694v4.612z" />
                                </g>
                            </svg>
                        </span>
                    </div>
                    <!-- </div> -->
                </mat-panel-title>


            </mat-expansion-panel-header>
            <div class="bg-Lighitblue w-full pt-4 px-8">
                <div class="mx-auto grid  justify-between grid-cols-1 gap-5">
                    <div class="w-full max-w-full mx-auto">
                        <div class=" pt-5 pb-1">
                            <div class="">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="idCards">
                                    Confirmation Letter
                                </label>
                                <div class="flex items-center gap-2">
                                    <textarea id="idCards" name="idCards"
                                        class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none"
                                        rows="6"
                                        placeholder="comma or space separated user id (Paste from excel)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full">

                        <div class="w-full my-2">
                            <button type="submit"
                                class="text-white bg-lightBlue hover:bg-lightBlue focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-2.5 text-center">
                                Get Confirmation Letter
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</section>