<div class="bg-white rounded-2xl overflow-y-scroll max-h-[85vh]">
    <div class="bg-lightPink py-2 ">
        <div class="flex justify-between items-center mx-5">
            <div>
                Set New Indicator
            </div>
            <div mat-dialog-close class="border-2 rounded-full border-Red w-7 h-7 flex justify-center text-center items-center">
                <i class="fa-solid fa-xmark text-Red text-xl"></i>
            </div>
        </div>

    </div>
    <div class="p-5">
        <div class="grid md:grid-cols-2 grid-cols-1 gap-5 mb-5">
            <div class="w-full ">
                <mat-label>Company </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full ">
                <mat-label>Designation </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
         

            <div class="w-full ">
                Technical Competencies <br>
                <mat-label>Customer Experience </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full ">
                Organizational Competencies <br>
                <mat-label>Professionalism </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full ">

                <mat-label>Marketing </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full ">

                <mat-label>Integrity </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full ">

                <mat-label>Administration </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full ">

                <mat-label>Attendance </mat-label>
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'--Select--'">
                        <mat-option value="--Select--">--Select--</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                        <mat-option value="ShineCoder">ShineCoder</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
















           
        </div>

        <div class="flex gap-5 justify-start items-start my-10">
            <div class=" flex gap-5 ">
                <button type="button" mat-dialog-close
                    class="bg-Green text-White p-2 px-5 rounded-md border-0 outline-none">Save</button>
                <button type="button" mat-dialog-close
                    class="bg-Gray text-White p-2 px-5 rounded-md border-0 outline-none">Close</button>
            </div>
        </div>
    </div>