<div class="bg-white rounded-md flex justify-start items-center gap-10 px-5 p-4 shadow-lg">
    <div class="rounded-lg  border-2 border-Blue   p-3 hover:bg-Blue hover:text-White" (click)="openDialogHolidays()">
        Holidays </div>
    <div class="rounded-lg border-2 border-Blue  p-3 hover:bg-Blue hover:text-White" (click)="openDialogLeaveRequest()">
        Leave Request</div>
    <div class="rounded-lg  border-2 border-Blue p-3 hover:bg-Blue hover:text-White" (click)="openDialogTrainings()">
        Trainings</div>
    <div class="rounded-lg border-2 border-Blue  p-3 hover:bg-Blue hover:text-White" (click)="openDialogProjects()">
        Projects</div>
    <div class="rounded-lg border-2 border-Blue  p-3 hover:bg-Blue hover:text-White" (click)="openDialogEvents()">
        Events</div>
    <div class="rounded-lg border-2 border-Blue  p-3 hover:bg-Blue hover:text-White" (click)="openDialogMeetings()">
        Meetings</div>

</div>