.mat-mdc-tab.mdc-tab {
  flex-grow: 0 !important;
  border: 2px solid !important;
  background-color: blue !important;
  border-radius: 3px !important;
}

.search-button {
  border-radius: 3rem;
  width: 8rem;
  color: white !important;
  height: full !important;
  background-color: #fcd13a !important;
}

.sevice-button {
  background-color: #01257f !important;
  color: white !important;
}

.services button {
  padding: 1rem 2rem;
  border: 1px solid #01257f;
}

.tech button {
  padding: 1rem 2rem;
  background-color: #dce6fd;
  border-radius: 6rem;
  color: #01257f;
  font-size: large;
}
.sevice-button {
  background-color: #01257f !important;
  color: white !important;
}
.tech button {
  padding: 1rem 1rem;
  background-color: #dce6fd;
  border-radius: 6rem;
  color: #01257f;
}
::ng-deep .service-tab .mat-mdc-tab-labels {
  gap: 2rem !important;
  flex-wrap: wrap;
  background-color: white !important;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 15px 0px !important;
  border-radius: 20px;
  
}
.example-container {
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
@media screen and (max-width: 768px) {
  ::ng-deep .service-tab .mat-mdc-tab-labels {
    gap: 1rem !important;
    padding: 2px;
    justify-content: center;
  }
}
::ng-deep .service-tab .mdc-tab__content {
  font-weight: 500;
}

::ng-deep .service-tab .mdc-tab-indicator {
  display: none !important;
}
::ng-deep .service-tab .mat-mdc-tab-ripple {
  border: 2px solid #01257f !important;
  border-radius: 0.5rem;
}
::ng-deep .service-tab .mdc-tab--active {
  background-color: #01257f !important;
  border-radius: 0.5rem;
}
::ng-deep .service-tab .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: white !important;
}
