<div class=" mx-auto p-6 bg-white shadow rounded-lg">
    <div class="bg-bglightPink w-full h-20 relative mb-10 rounded-tr-md">


        <div class="flex items-center mb-6 absolute top-5 ">
            <img class="w-32 h-32 rounded-full border-2 border-gray-300" src="https://icon-library.com/images/admin-user-icon/admin-user-icon-5.jpg"
                alt="Profile Picture">
            <div class="ml-4">

                <div class="text-gray-500 mt-10">
                    <div class=" font-semibold">William Castilo</div>Updates Your Photo and Personal Details.
                </div>
            </div>
        </div>
    </div>

    <form>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-10 mt-32">
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>First Name</mat-label>
                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="William" />
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Last Name</mat-label>
                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Castilo" />
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Email</mat-label>
                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="william@example.com" />
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Phone</mat-label>
                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="+1452 876 5432" />
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>User Name</mat-label>
                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="William Castilo" />
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Password</mat-label>
                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Password" />
                    </mat-form-field>
                </div>
            </div>








        </div>

        <div class="flex justify-start mt-6">
            <button mat-raised-button color="primary" class="mr-2">Submit</button>
            <button mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</div>