<section class="my-5">
    <!-- Hedding  -->
    <div class="flex md:flex flex-wrap items-center justify-between gap-5">
        <div class="flex items-center gap-5">
          
            <div class="text-3xl font-bold">{{ HeaderHeading }}</div>
        </div>
        <div class="flex gap-4 flex-wrap">

            <button class="border-2 border-Pink text-Pink rounded-md p-2 px-2
             flex gap-2 items-center text-[#b2abab]">
                <mat-icon class="mat-18">power_settings_new</mat-icon> Sign out
            </button>
        </div>
    </div>

    <div class="flex gap-5 my-10 px-5">
        <div class="flex gap-2 text-center justify-center">
            <div class=" w-full h-full rounded-xl">
                <mat-icon class="save">smartphone</mat-icon>
            </div>
            <div>
                <span class="md:text-2xl text-lg font-bold">Device</span> <br>
                <small>Device</small>
            </div>
        </div>
        <div class="flex gap-2 text-center justify-center">
            <div class="w-full h-full rounded-xl">
                <mat-icon class="save">save</mat-icon>
            </div>
            <div>
                <span class="md:text-2xl text-lg font-bold whitespace-nowrap">Save Device </span> <br>
                <small>Save Device </small>
            </div>
        </div>
    </div>

    <div class="shadow-2xl rounded-xl p-5">
        <div class=" flex gap-2 text-2xl font-bold">
            <mat-icon class="savede">save</mat-icon> Save <span class="text-Pink">Device</span>

        </div>


        <div class="grid md:grid-cols-2 grid-cols-1 my-5  gap-4">
            <!-- Device Name -->
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Device Name<span class="required-asterisk">*</span></mat-label>

                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Enter Device Name" />
                    </mat-form-field>
                </div>
            </div>
            <!-- IP Address -->
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>IP Address<span class="required-asterisk">*</span></mat-label>

                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Enter IP Address" />
                    </mat-form-field>
                </div>
            </div>
            <!-- Phone No -->
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Phone No</mat-label>

                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Enter Phone No" />
                    </mat-form-field>
                </div>
            </div>
            <!-- Device Code -->
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Device Code<span class="required-asterisk">*</span></mat-label>

                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Enter Device Code" />
                    </mat-form-field>
                </div>
            </div>
            <!-- Port -->
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Port</mat-label>

                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput placeholder="Enter Port" />
                    </mat-form-field>
                </div>
            </div>
            <!-- Address -->
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <mat-label>Address<span class="required-asterisk">*</span></mat-label>

                </div>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <textarea matInput placeholder="Enter Address"></textarea>
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="flex justify-start gap-3 mt-4">
            <button class="bg-Green p-2 text-white px-5 rounded-lg">Save</button>
            <button class="bg-Gray p-2 text-white px-5 rounded-lg">Cancel</button>
        </div> 
    </div>




</section>