<div class="bg-white rounded-2xl">
    <div class="bg-lightPink py-2 ">
        <div class="flex justify-between mx-5">
            <div>
                Choose Employee Code Series
            </div>
            <div mat-dialog-close class="border-2 rounded-full border-Pink w-7 h-7 flex justify-center text-center ">
                <i class="fa-solid fa-xmark text-Pink text-xl"></i>
            </div>
        </div>

    </div>
    <div class="p-5 flex flex-row">


        <div class="w-full">
            <div class="flex items-center justify-between">
                <mat-label>Select Employee Code Series</mat-label>

            </div>
            <div class="flex items-center gap-2">
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'Male'">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="FEMale">FEMale</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div class="w-full invisible">
            <div class="flex items-center justify-between">
                <mat-label>Select Employee Code Series</mat-label>

            </div>
            <div class="flex items-center gap-2">
                <mat-form-field class="w-full my-2" appearance="outline">
                    <mat-select [value]="'Male'">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="FEMale">FEMale</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>


    </div>
    <mat-divider></mat-divider>
    <div class="flex gap-5 justify-center items-center my-5">
        <div class=" flex gap-5 ">


            <button type="button" mat-dialog-close
                class="bg-Blue text-White p-2 px-5 rounded-md border-0 outline-none">Generate</button>

        </div>
    </div>
</div>