<div class="bg-white rounded-2xl overflow-y-scroll ">
    <div class="bg-lightPink py-2 ">
        <div class="flex justify-between mx-5">
            <div>
                Edit Training Type
            </div>
            <div mat-dialog-close class="border-2 rounded-full border-Red w-7 h-7 flex justify-center text-center ">
                <i class="fa-solid fa-xmark text-Red text-xl"></i>
            </div>
        </div>

    </div>
    <div class="p-5">


        <div class="grid md:grid-cols-4 grid-cols-1 gap-5 mb-5">

            <div class=" w-full col-span-4">
                <mat-label>Training Type</mat-label>
                <div class="flex items-center gap-2">
                    <mat-form-field class="w-full my-2" appearance="outline">
                        <input matInput value="First" />
                    </mat-form-field>
                </div>
            </div>




        </div>


        <mat-divider></mat-divider>
        <div class="flex gap-5 justify-start items-start my-5">
            <div class=" flex gap-5 ">

                <button type="button" mat-dialog-close
                    class="bg-Green text-White p-2 px-5 rounded-md border-0 outline-none">Update</button>
                <button type="button" mat-dialog-close
                    class="bg-Gray text-White p-2 px-5 rounded-md border-0 outline-none">Close</button>
            </div>
        </div>
    </div>
</div>