<section class="my-5">
    <!-- Hedding  -->
    <div class="flex md:flex flex-wrap items-center justify-between gap-5">
        <div class="flex items-center mx-5 gap-5">
            <div class="shadow-2xl bg-white rounded-full p-1">
                <img src="{{ FirstIcons }}" alt="" class="w-10 h-10 shadow-2xl bg-white rounded-full" />
            </div>
            <div class="text-3xl font-bold">{{ HeaderHeading }}</div>
        </div>
        <div class="flex gap-4 flex-wrap">

        </div>


    </div>
    <app-projects-details-table></app-projects-details-table>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class=" my-5 box-shadow">
        <!-- --------------------------Dashboard Div Start------------------------ -->
        <mat-tab label="Overview" class="tabDashboard ">
            <ul class="list-disc">
                <li class="my-2 font-bold">
                    Section 1: Functional ObjectivesEach objective gives a desired behavior for the system, a business
                    justification, and a measure to determine if the final system has successfully met the objective.
                    These objectives are organized by priority. In order for the new system to be considered successful,
                    all high priority objectives must be met.
                </li>
                <li class="list-disc my-2 font-bold">

                    Section 2: Non-Functional ObjectivesThis section is organized by category. Each objective specifies
                    a technical requirement or constraint on the overall characteristics of the system. Each objective
                    is measurable.
                </li>
                <li class="list-disc my-2 font-bold">

                    Section 3: Context ModelThis section gives a text description of the goal of the system, and a
                    pictorial description of the scope of the system in a context diagram. Those entities outside the
                    system that interact with the system are described.
                </li>
            </ul>
        </mat-tab>
        <!-- --------------------------Dashboard Tab End------------------------ -->

        <!-- --------------------------Discussions Settings Tab Start------------------------ -->
        <mat-tab label="Discussions">
            Discussions
        </mat-tab>
        <!-- --------------------------Discussions Settings Tab End------------------------ -->

        <!-- --------------------------Progress Settings Tab Start------------------------ -->
        <mat-tab label="Progress">
            Progress
        </mat-tab>
        <!-- --------------------------Progress Settings Tab End------------------------ -->

        <!-- --------------------------Bugs Settings Tab Start------------------------ -->
        <mat-tab label="Bugs">
            SMS
        </mat-tab>
        <!-- --------------------------Bugs Settings Tab End------------------------ -->

        <!-- --------------------------Tasks Settings Tab Start------------------------ -->
        <mat-tab label="Tasks">
            Tasks
        </mat-tab>
        <!-- --------------------------Tasks Settings Tab End------------------------ -->
        <!-- --------------------------Files Settings Tab Start------------------------ -->
        <mat-tab label="Files">
            Files
        </mat-tab>
        <!-- --------------------------Files Settings Tab End------------------------ -->
        <!-- --------------------------Notes Settings Tab Start------------------------ -->
        <mat-tab label="Notes">
            Notes
        </mat-tab>
        <!-- --------------------------Notes Settings Tab End------------------------ -->


    </mat-tab-group>