<div class="bg-white rounded-2xl overflow-y-scroll max-h-[85vh]">
    <div class="bg-lightPink py-2 ">
        <div class="flex justify-between items-center mx-5">
            <div>
                Upload document
            </div>
            <div mat-dialog-close class="border-2 rounded-full border-Red w-7 h-7 flex justify-center text-center items-center">
                <i class="fa-solid fa-xmark text-Red text-xl"></i>
            </div>
        </div>

    </div>
    <div class="p-5">
        <div class="grid md:grid-cols-1 grid-cols-1 gap-5 mb-5">
            <div>
                <div class=" w-full">
                    <mat-label> File Metadata<span class="required-asterisk">*</span></mat-label>
                    <div class="flex items-center gap-2">
                        <mat-form-field class="w-full my-2" appearance="outline">
                            <input matInput value="" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <mat-label>Document File</mat-label>
                <form action="#"
                    class="relative border-2 px-20 border-dotted w-full mb-10 bg-white rounded-lg shadow-inner">
                    <input type="file" id="file-upload" class="hidden" />
                    <label for="file-upload"
                        class="z-20 flex flex-col-reverse items-center justify-center w-full h-full cursor-pointer">
                        <!-- <p
                            class="z-10 text-lg font-light whitespace-nowrap text-center text-Pink border-2 border-Pink p-5 rounded-xl">
                            browse images
                        </p> -->
                        <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png"
                            alt="" class="w-36 h-36 my-5" />
                    </label>
                </form>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="flex gap-5 justify-start items-start my-5">
            <div class=" flex gap-5 ">
                <button type="button" mat-dialog-close
                    class="bg-Green text-White p-2 px-5 rounded-md border-0 outline-none">Upload</button>
            </div>
        </div>
    </div>
</div>