<div class="bg-white rounded-2xl">
    <div class="bg-lightPink py-2 ">
        <div class="flex justify-between items-center mx-5">
            <div>

            </div>
            <div mat-dialog-close class="border-2 rounded-full border-Pink w-7 h-7 flex justify-center text-center items-center ">
                <i class="fa-solid fa-xmark text-Pink text-xl"></i>
            </div>
        </div>
    </div>
    <div class="">
        <div class="mt-5 text-lg text-center my-5">
            <div class="flex justify-center items-center my-5">
                <img src="../../../assets/error.png" alt="" class="w-20 h-20">
            </div>
            Not results for this query
        </div>

        <mat-divider></mat-divider>
        <div class="flex gap-5 justify-center items-center  bg-Gray">
            <div class=" flex gap-5 py-3 ">

                <button type="button" mat-dialog-close
                    class="bg-Green text-White p-2 px-5 rounded-md border-0 outline-none">OK</button>
            </div>
        </div>
    </div>
</div>